.container {
    width: 1000px;
    margin: auto;
    padding: 200px;
    
    
}
.box1{
    width: 50%;
    margin: auto;
}
.box1 .box1_1{
    width: 50%;
    margin: auto;
}
.box1_1 img{
    width: 70%;
    float: right;
    transform: translateX(230%);
}
.row {
    display: flex;
    flex-wrap: wrap;
}
